body {
  margin: 0;
  background: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 60px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), transparent);
  z-index: 10;
}

.navbar .logo {
  width: 110px;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin-left: 40px;
  gap: 20px;
}

.navbar li {
  cursor: pointer;
  font-size: 14px;
}


/* HERO */
.banner {
  height: 90vh;
  display: flex;
  align-items: center;
  background:
    linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.3)),
    url("assets/banner.png");
  background-size: cover;
  background-position: center;
}

/* MOVIE CARD */
.movie-card img {
  transition: transform 0.3s;
}

.movie-card img:hover {
  transform: scale(1.1);
}

/* BUTTONS */
.buttons button {
  padding: 10px 24px;
  font-size: 16px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.play {
  background: white;
  color: black;
}

.info {
  background: rgba(109,109,110,0.7);
  color: white;
}

/* ROW */
.row {
  padding: 40px 60px;
}

.row-posters {
  display: flex;
  gap: 20px;
}

.movie-card {
  text-align: center;
}

.movie-card img {
  width: 160px;
  border-radius: 6px;
  transition: transform 0.3s;
}

.movie-card img:hover {
  transform: scale(1.1);
}

.movie-card p {
  margin-top: 8px;
  font-size: 14px;
}  


